
/* title */
#title{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
}

h1{
    font-family: 'Cormorant Upright', serif;
    font-size: 7rem;
    margin-bottom: 2%;
    padding: 3%;
}

#title-image{
    width: 30%;
    padding: 2% 2%;
}

.navbar-brand{
    font-size: 3.5rem;
    font-family: 'Clicker Script', cursive;
    margin-bottom: 3%;
}

.download-button{
    margin: 5% 3% 5% 0;
}


/* features */

#features{
   
    padding: 7% 10%;
    background-color: #fff;
}

.feature-box{
    text-align: center;
    padding: 2%;
}

.features-headings{
    font-weight: bold;
    font-family: 'Cormorant Upright', serif;
    font-size: 3rem;
}

p{
    font-size: 1.5rem;
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}


/* menu */

.menu-image{
    width: 10%;
    border-radius: 100%;
    margin:20px;
}

#menu{
    background-color: #ef8172;
    text-align: center;
}

.menu-text{
    font-family: 'Black And White Picture', sans-serif;
    font-size: 3rem;
    color: #fff;
}

.menu-text2{
    color: #fff;
}

/*social-contact*/

#social-contact{
   
    padding: 2% 15%;
    background-color: #fff;
}

.social-box{
    text-align: center;
}



/* CONTACT-PAGE */

#contact-page{
    background-color: #fff;
    color: #ff4c68;
    text-align: center;
}